.footer {
    position: absolute;
    
   
    bottom:auto;
   
    // clear:both;
    width: 100%;
    border-top: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        margin-left: 40px;
        
    }

    .dummy {
        width: 100px;
    }
    p {
        text-align: center;
    }

    @media (max-width: 550px) {
        & {
            margin-bottom: 30px;
            flex-direction: column;

            h3 {
                margin-left: 0;
                margin-bottom: 0;
            }

            p {
                margin-left: 0;
                margin-bottom: 0; 
            }
        }
    }
   

    p {
        font-size: small;
        height: 20px;
    }
}