html, body {
  min-height: 100%;
}

.home {
        
   
}

.header {
    
    display: flex;
    
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0px 40px;
  .desktop {
    display: flex;
    justify-content: space-between;
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  }
   

    .menu-container {
      display: none;
    }
     
    

       
      
     
    @media (max-width: 501px) {
      .header {
        display: inline-block;
        
      }

      .desktop{
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        .nav {
          display: flex;  //zmienione tutaj dla Mobilki
          align-items: center;
          justify-content: center;
          flex-direction: column;
      }
      }

      .mobile {
        display: flex;
       
        .nav {
          display: flex;  //zmienione tutaj dla Mobilki
          align-items: center;
          justify-content: center;
          flex-direction: column;
      }
      }

      
       

        .menu-container{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          .menu-icon {
            display: grid;
            place-items: center;
            height: 30px;
            width: 40px;
            position: relative;
            cursor: pointer;
            
            & > span {
              width: 35px;
              height: 2px;
              background: #1f8fff;
              display: block;
              transition: all 0.3s ease-in-out;
              justify-self: end;
            }
            
            // &:hover span:nth-child(1) {
            //   width: 35px;
            // }
            
            // &:hover span:nth-child(2) {    
            //   width: 40px;
            // }
            
            // &.active span:nth-child(1) {
            //   transform-origin: center center;
            //   transform: rotate(-45deg) translate(-12px, 12px);
            //   width: 35px;
            // }
            
            // &.active span:nth-child(2) {
            //   transform: translateX(10px);
            //   opacity: 0;
            // }
            
            // &.active span:nth-child(3) {
            //   transform-origin: center center;
            //   transform: rotate(45deg) translate(-15px, -14px);
            //   width: 55px;
            // }
           
            .line-1 {
              width: 30px;
              justify-self: end;
            }
            
            .line-2 {
              width: 30px;
              justify-self: end;
            }
          }
    
      }

        & {

          .logo-burger {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

           

        }

       
      }
    
  }

  @media (max-width: 501px) {
    .home {
        
        .bg {
            height: 500px;
            
            background-image: url('../photos/fitMeWelcome.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}



  
  /* Style the header links */
  .header a {
    
    color: black;
    // text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    // line-height: 25px;
    border-radius: 4px;
  }
  
 
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
//   .header .active {
//     background-color: dodgerblue;
//     color: white;
//   }
  
  /* Float the link section to the right */
 

  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
    
      display: block;
      text-align: left;
    }
    .header-right {
     
    }
  }